.contact-card {
  text-align: center;

  width: 40%;
  margin: 30px auto;
  margin-top: 80px;
  padding: 40px;
  margin-bottom: 10.5rem;
  /* background: #d3d3d3; */
  /* min-height: 62vh; */
}
.contact-card h2 {
  padding: 20px 30px 40px 0;
  color: darkgray;
}
.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-details a {
  color: #a8a2a2;
}

@media (max-width: 768px) {
  .contact-card {
    width: 60%;
  }
  .contact-card h2 {
    padding: 0;
    font-size: 20px;
  }
  .contact-details a {
    color: #a8a2a2;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .contact-card h2 {
    font-size: 18px;
  }
  .contact-details a {
    color: #a8a2a2;
    font-size: 10px;
  }
}
