.form {
  width: 150%;
  max-width: 550px;
  margin-right: auto;
  padding-left: 120px;
}
label#outlined-label,
label#outlined-required-label {
  background: #fff;
  padding-right: 50px;
}
.form-user {
  position: relative;
  margin-bottom: 20px;
  border: solid 2px black;
  padding: 20px;
  background: white;
  border-radius: 10px;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  background-color: rgb(76, 116, 185);
  height: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.4s ease;
  border: black solid 2px;
  color: #fff;
}
.css-i44wyl {
  width: 100% !important;
}
/*****************Personal Info******************/
.input-field {
  margin-bottom: 30px;
  position: relative;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

#date-time-edit {
  display: none !important;
}

input::-internal-datetime-container {
  display: block !important;
  text-align: end !important;
}

.center-stepper {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.trip-button {
  margin-bottom: 30px;
  position: relative;
  display: flex;
}

.trip-btn {
  border-radius: 6px;
  margin-right: 20px;
}
